*{
	margin: 0px;
	padding: 0px;
}

body { 
background-color: white;
}

main {
	/*width: 600px;*/
	/*height:820px;*/
	/*margin-left:200px;
	background-color: white;
}

header {
	/*border:2px solid blue;  */
}

header div {
	width: 100%;
	height: 200px;
}
header img {
	width: 100%;
	height: 200px;	
}

nav {
	height: 80px;
	/*border:2px solid orange;*/
	margin-bottom: 10px;
	border-radius: 0px 0px 10px 10px;
}

.linea-color{
	width:100%;
	height:10px;
	background-color:rgb(22, 80, 118);
}

nav li {
	width: 208.3px;
	height:52px;
	list-style: none;
	cursor: pointer;
	text-align:center;
	color: white;
	/*border:1px solid red;*/
	float: left;
	padding-top: 15px;
	background-color: rgba(75, 157, 195, 1);
}

.barra {
	width:5px;
}
.borde-left {
	border-radius: 0px 0px 0px 10px;
}
.borde-right{
	border-radius: 0px 0px 10px 0px;
	padding-right: 5px;
	padding-left: 5px;
	width:185px;
}

section {
	/*border:2px solid green;*/
	width: 220px;
	height:400px;
	float:left;
	margin-bottom:10px;
}

.articulo1 {
 	/*width: 40%;*/
 	/*height:170px;*/
 	margin-bottom: 10px;	
}

.articulo1 header {
 	height:18%;
 	color: white;
 	text-align:center;
 	padding-top: 5px;
	/*border:1px solid blue;*/
	background-color: rgb(22, 80, 118);
	border-radius:10px 10px 0px 0px;
}

.articulo1 div{
	height:79%;
	/*border:1px solid red;*/
	background-color: rgba(176, 211, 227, 1);
}

.entradas {
 	width:80%;
}

.articulo2 {
	/*height: 216px;*/
	/*width: 100%;*/
}

 .articulo2 div{
	height:100%;
	/*border:1px solid red;*/
	background-color: rgb(22, 80, 118);

}

.articulo2 div table {
	width:98%;
	height:98%;
	color:white;
	text-align:center;
}

.articulo2 div table tr td h4 {
	color:yellow;

}
 
aside {
	width:360px;
	height:400px;
	float:right;
	/*margin-bottom:10px;*/
	/*border:2px solid gold;*/
}

aside section {
	height:50%;
	width:100%;
	/*border:1px solid red;*/
	margin-bottom:auto;
}

.articulo3{
	/*height:94%;*/
	/*width:47%;*/
	/*border:1px solid green;*/
	/*margin-top:5px;*/
	/*float:left;*/
	/*margin-left: 5px;*/
}

.articulo3 h6 {
	height:12%;
	color:white;
	font-size: 9px;
	padding-top:13px;
	background-color:rgb(22, 80, 118);
	border-radius:10px 0px 0px 0px; 
}

.articulo3 div {
	height:40%;
	background-color:rgb(233, 231, 232);
	/*border:1px solid blue;*/
}
.articulo3 div img {
	width: 100%;
	height:100%;
}

.articulo3 div p {
	text-align: center;
}

/*---------------------------------*/
.articulo4 {
	/*height:94%;*/
	/*width:47%;*/
	/*border:1px solid green;*/
	/*float:right;*/
	/*margin-right:5px;*/
}

.articulo4 h6 {
	height:12%;
	color:white;
	font-size: 9px;
	padding-top:13px;
	background-color:rgb(22, 80, 118);
	border-radius:0px 10px 0px 0px;  

}

.articulo4 div {
	height:40%;
	background-color:rgb(233, 231, 232);
	/*border:1px solid blue;*/
}

.articulo4 div img {
	width: 100%;
	height: 100%;
}

.articulo4 div p {
	text-align: center;
}

/*----------------------------------*/
.articulo5 h6 {
	height:12%;
	color: white;
	font-size: 9px;
	padding-top:13px;
	background-color:rgb(22, 80, 118); 
}

.articulo5 {
	/*height:94%;*/
	/*width:47%;*/
	/*float:left;*/
	/*border:1px solid green;*/
	/*margin-left:5px;*/
	margin-top: 10px;
}

.articulo5 div {
	height:40%;
	background-color:rgb(233, 231, 232);
	/*border:1px solid blue;*/
}

.articulo5 div img {
	width: 100%;
	height: 100%;
}

.articulo5 div p {
	text-align: center;
}

/*----------------------------------*/
.articulo6 h6 {
	height:12%;
	color:white;
	font-size: 9px;
	padding-top:13px;
	background-color:rgb(22, 80, 118); 
}

.articulo6 {
	/*height:94%;*/
	/*width:47%;*/
	/*float:left;*/
	/*border:1px solid green;*/
	/*float:right;*/
	/*margin-right:5px;*/
	margin-top:10px;
}

.articulo6 div {
	height:40%;
	background-color:rgb(233, 231, 232);
	/*border:1px solid blue;*/
}

.articulo6 div img {
	width: 100%;
	height: 100%;
}

.articulo6 div p {
	text-align: center;
}
/*-------------------------------------------*/
.well {
	width:40%;
	height: 30%;
}
footer {
	height:90px;
	color: white;
	background-color: rgb(22, 80, 118);
	border-radius: 0px 0px 10px 10px;
	clear: both;
	/*border: 2px solid red;*/
}	
